
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/*------------------------------ 
        BANNER
------------------------------ */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-banner {
    display: flex;
    flex-direction: column;
    background-color: blue;
    height: 670px;
    width: 100%;
}
.menu-bar {
    display: flex;
    flex-direction: row;
    margin-top: 52px;
}
.menu {
    display: flex;
    width: 100%;
    height: 24px;
    margin-bottom: 67px;
    justify-content: center;
    align-items: center;
}
.menu-bar a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
.login {
    color: white;
    display: flex;
    align-items: center;
    background-color: rgb(224, 44, 109);
    width: 123px;
    height: 24px;
    margin-right: 40px;
    padding: 10px 24px;
}
 .banner{
     background-color:blue ;
     display: flex;
     align-items: center;
     height: 670px;
     width:100%;
     justify-content: space-between;

 }
 .watch a{
     text-decoration: none;
     color:white;
 }
 .headline{
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin-left: 140px;
    
 }
.head h1{
    font-size: 64px;
    color: #FFFFFF;
    width: 485px;
height: 230px;
}
.watch{
    background: #E02C6D;
    color: white;
    padding: 10px 24px;
    width: 145px;
    text-decoration: none;
    font-weight: 200;
}
.banner-photo{
    width:50%;
}
.banner-photo img{
    width: 556px;
    height: 438px;

}
.banner-photo img:hover{
    transform: matrix(-1, 0, 0, 1, 0, 0);
    transition: transform 2s ease-in-out;
} 
/* -------------------------------------------
           Player-Details
-----------------------------------------------*/
.player{
    width: 330px; 
    height: 474px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
}
.player-photo img{
    height: 255px;
    width:100%;
    background-color: white;
}
h2{
    font-size: 28px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 1050px;
    margin-Top:70px;
    margin-bottom: 182px;
    align-items: center;
    justify-content: center;
    grid-gap: 27px;
}
p{
    font-size: 16px;
    color: #6C6C6C;
}
/* --------------------------------------------
       Highlights :Match
-------------------------------------------- */
.watch-match img{
    width: 567px;
     height: 429px;
     margin-left: 72px;
}
.highlights{
    width: 1000%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 182px;
}
  
.Match-highlights{
    font-size: 48px;
}
.highlights-news{
    box-sizing: border-box;
    width: 469px;
height: 309px;
}
/* -----------------------------------------
    Match-Fixture && Trofy
------------------------------------------*/
.match-trofy {
    display: flex;
    margin-bottom: 80px;
}
.trofy-fixture {
    width: 530px;
    margin-right: 25px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 40px;
    border-style: 1px solid;
    border-radius: 10px;
}
.trofy-fixture img {
    width: 500px;
    height: 350px;
    padding: 15px;
}
h4 {
    margin:0;
    color: black;
    font-size: 20px;
    border-radius: 30px;
    font-size: 25px;
    padding-left: 25px;
    padding-bottom: 10px;
}
/* ------------------------------------
               List of finals
------------------------------------- */
.previous-copa{
    height: 30px;
    text-align: center;
     margin-bottom: 140px;
}

.list{
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 20px;
    border-radius:10px;
    background-image: linear-gradient(darkblue,blue);
}
/* -------------------------------------------------
                  FOOTER
-------------------------------------------------- */
.logo{
    width: 483.87px;
height: 213px;
position: absolute;
display: flex;
flex-direction: column;
align-items:center ;
justify-content: center;
margin-top: 131px;
margin-bottom: 71px;

}
 .icon a{
     color:black;
     height: 32px;
     width: 32px;
      margin-right: 14px;
 }
.copyright{
    font-size: 18px;}
.logo .logo-football img{
    width: 100%;
height: 113px;
}
/* ------------------------------------------
              Media Query
------------------------------------------- */
@media only screen and (max-width: 688px){

    .container{
       width: 100%;
   } 
   .qe{
       display: none;
   }
   .menu, .login{
    display: none;
}
   .banner{
    display: grid;
   grid-template-columns: repeat(1,1fr);
    margin:0;
   }
   .headline{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin:0;
   
   
}
.head h1{
   font-size: 20px;
   width:100px;
   height: 100px;
   margin: 10;
}
.banner-photo img{
    width: 350px;
    height: 300px;

}
.players{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin: 0;
}
.highlights{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin: 0;
}
.Match-highlights{
    font-size: 20px;
    margin: 0;
}
.highlights-news{
    box-sizing: border-box;
    width: 100px;
    margin: 0px;
}
.watch-match img{
    width: 300px;
     height: 300px;
     margin:0px;
}
.logo{
    width: 200px;
height: 200px;
margin: 0;
display: grid;
grid-template-columns: repeat(1,1fr);
}
.trofy-fixture {
    width: 200px;
    margin: 0;
}